th{
	background-color: rgba(153, 146, 200, 0.76); 
	font-family: Verdana; 
	font-size: 8;
}

table caption{
	font-family: Verdana;
	font-weight: bold;
	font-size: 12pt;
	background-color: #cacaca;
}

.container{
	border: 1px solid black;
	border-radius: 3px;
	padding-bottom: 5px;
}


